<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "actor" class="com.stackroute.domain.Actor">
        <property name="age" value="17"></property>
        <property name="name" value="Naveen"></property>
        <property name="gender" value="male"></property>
    </bean>

    <bean id = "actor2" class="com.stackroute.domain.Actor">
        <property name="age" value="23"></property>
        <property name="name" value="Anil Tutika"></property>
        <property name="gender" value="male"></property>
    </bean>

    <bean id = "actor3" class="com.stackroute.domain.Actor">
        <constructor-arg name="age" index="0" type="int" value="23"></constructor-arg>
        <constructor-arg name="name" index="1" type="String" value="Aniket"></constructor-arg>
        <constructor-arg name="gender" index="2" type="String" value="male"></constructor-arg>
    </bean>

    <bean id="movie" class="com.stackroute.domain.Movie">
        <property name="author" value="shailesh"></property>
    </bean>

    <bean id="movie2" class="com.stackroute.domain.Movie">
        <property name="author" value="gokul"></property>
    </bean>

    <bean id="movie3" class="com.stackroute.domain.Movie">
        <property name="author" value="atul"></property>
    </bean>

</beans>